<link rel="stylesheet" href={{url_for('static', filename='css/amazeui.min.css')}}/>
<link rel="stylesheet" href={{url_for('static', filename='css/admin.css')}}/>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/fitnesse_wiki.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/fitnesse_pages.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/fitnesse_straight.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/wysiwyg.css')}} media="screen">
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/question.mark.css')}}>
<link rel="wysiwyg.base" href="/">
<link rel="wysiwyg.stylesheet" type="text/css" href={{url_for('static', filename='css/fitnesse.css')}} media="screen">
<link rel="wysiwyg.stylesheet" type="text/css" href={{url_for('static', filename='css/editor.css')}}>
<link rel="shortcut icon" type="image/png" href="/files/fitnesse/images/favicon.png">
<script src={{url_for('static', filename='js/jquery.min.js')}} type="text/javascript"></script>
<script src={{url_for('static', filename='js/fitnesse.js')}} type="text/javascript"></script>
<script src={{url_for('static', filename='js/fitnesse_straight.js')}} type="text/javascript"></script>
<script src={{url_for('static', filename='js/jquery.min.js')}}></script>
<!--<![endif]-->
<script src={{url_for('static', filename='js/amazeui.min.js')}}></script>
<div class="am-dropdown" data-am-dropdown>
	<button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>添加Case <span class="am-icon-caret-down"></span></button>
	<ul class="am-dropdown-content">
		<li><a class="addsuite" target-data="{{result['psuiteid']}}">Suite Page</a></li>
		
		<li><a class="addcase"  target-data="{{result['psuiteid']}}">Test Page</a></li>
	</ul>
</div>
{%if result['action']!=''%}
<div class="am-alert am-alert-success" data-am-alert>
  <button type="button" class="am-close">&times;</button>
  <p>{{ result['action'] }}</p>
</div>
{%endif%}
<div >
	<table class="am-table am-table-bordered am-table-striped am-table-compact">
		<thead>
			<tr>
				<th>测试用例</th>
				<th>简介</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{%for floder in result['floders']%}
			<tr>
				<td >
					{%if floder[2]==1 %}
					{{ floder[1] }}
					{%else%}
					<a class="suitename" target-data="{{floder[0]}}">{{ floder[1] }}
					{%endif%}
				</td>
				<td>{{floder[3]}}</td>
				<td>{{floder[4]}}</td>
				<td>
					<button type="submit" class="am-btn am-btn-primary am-btn-xs">编辑</button>
					{%if floder[2]==1%}
					<button id="delcase" target-data="{{floder[0]}}" class="am-btn am-btn-primary am-btn-xs">删除</button>
					<button id="runcase" target-data="{{floder[0]}}" class="am-btn am-btn-primary am-btn-xs">运行</button>
					{%else%}
					<button id="delsuite" target-data="{{floder[0]}}" class="am-btn am-btn-primary am-btn-xs">删除</button>
					<button  id="runsutie" target-data="{{floder[0]}}" class="am-btn am-btn-primary am-btn-xs">运行</button>
					{%endif%}
				</td>
			</tr>
			{%endfor%}
			
		</tbody>
	</table>
</div>
<script type="text/javascript" charset="utf-8" async defer>
$(".casename").on("click" , function(){
	var data = $(this).attr("target-data");
	$("#content").load("/casedetail/"+data);
})
</script>

<script type="text/javascript" charset="utf-8" async defer>
$(".suitename").on("click" , function(){
	var data = $(this).attr("target-data");
	$("#content").load("/cases/"+data);
})
</script>

<script type="text/javascript" charset="utf-8" async defer>
$("#delcase").on("click" , function(){
	var caseid = $(this).attr("target-data");
	alert(caseid)
	$.post("/delcase",{'caseid':caseid},function(data){
    if (data=='1'){
      $("#content").load("/cases");
    }else{
      alert('add fail')
    }
  })
})
</script>
<script type="text/javascript" charset="utf-8" async defer>
$("#delsuite").on("click" , function(){
	var suiteid = $(this).attr("target-data");
	alert(suiteid)
	$.post("/delsuite",{'suiteid':suiteid},function(data){
    if (data=='1'){
      $("#content").load("/cases");
    }else{
      alert('add fail')
    }
  })
})
</script>
<script type="text/javascript" charset="utf-8" async defer>
$(".addcase").on("click" , function(){
	var psuiteid = $(this).attr("target-data");
	
	$("#content").load("/addcase/"+psuiteid);
})
</script>
<script type="text/javascript" charset="utf-8" async defer>
$(".addsuite").on("click" , function(){
	var psuiteid = $(this).attr("target-data");
	$("#content").load("/addsuite/"+psuiteid);
})
</script>

<script type="text/javascript" charset="utf-8" async defer>
$("#runsutie").on("click" , function(){
	var data = $(this).attr("target-data");
	$("#content").load("/runsuite/"+data);
})
</script>
<script type="text/javascript" charset="utf-8" async defer>
$("#runcase").on("click" , function(){
	var data = $(this).attr("target-data");
	$("#content").load("/runcase/"+data);
})
</script>