      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>Case运行状态</small></div>
      </div>
      <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>总Case数<br/>200</a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>成功数<br/>180</a></li>
        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>错误数<br/>20</a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>新增Case<br/>20</a></li>
      </ul>
      <div class="am-g">
        <div class="am-u-sm-12">
          <table class="am-table am-table-bd am-table-striped admin-content-table">
            <thead>
              <tr>
                <th>ID</th><th>用户名</th><th>最后成交任务</th><th>管理</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>1</td><td>John Clark</td><td><a href="#">添加Case</a></td>
              <td>
                <div class="am-dropdown" data-am-dropdown>
                  <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                  <ul class="am-dropdown-content">
                    <li><a href="#">1. 编辑</a></li>
                    <li><a href="#">2. 下载</a></li>
                    <li><a href="#">3. 删除</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr><td>2</td><td>风清扬</td><td><a href="#">运行case</a> </td>
            <td>
              <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                  <li><a href="#">1. 编辑</a></li>
                  <li><a href="#">2. 下载</a></li>
                  <li><a href="#">3. 删除</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr><td>3</td><td>詹姆斯</td><td><a href="#">运行Case</a></td>
          <td>
            <div class="am-dropdown" data-am-dropdown>
              <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
              <ul class="am-dropdown-content">
                <li><a href="#">1. 编辑</a></li>
                <li><a href="#">2. 下载</a></li>
                <li><a href="#">3. 删除</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr><td>4</td><td>云适配</td><td><a href="#">编辑Case</a></td>
        <td>
          <div class="am-dropdown" data-am-dropdown>
            <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
              <li><a href="#">1. 编辑</a></li>
              <li><a href="#">2. 下载</a></li>
              <li><a href="#">3. 删除</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>5</td><td>呵呵呵</td>
        <td><a href="#">下载日至</a></td>
        
        <td>
          <div class="am-dropdown" data-am-dropdown>
            <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
              <li><a href="#">1. 编辑</a></li>
              <li><a href="#">2. 下载</a></li>
              <li><a href="#">3. 删除</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>